// Widescreens
@include mediaXL {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops & Laptops
@include mediaLg {
    .container {
        border: 1px;

        .sm-heading {
            margin-top: 4rem;
            display: block;
            margin-left: 0;
            width: 85%;
        }

        .recommendation {
            display: block;
            padding: 1px;
            margin-top: 2rem;
            margin-left: 2rem;

            .recommendation-image {
                padding: 0;
                width: 180px;
                margin-right: 5rem;
            }

            .btn-dark, .btn-light {
                width: 60%;
                margin-left: 2.5rem;
            }
        }
    }
}

// Tablets and Small Laptops
@include mediaMd {
    .container {
        border: 1px;

        .sm-heading {
            margin-top: 4rem;
            display: block;
            margin-left: 0;
            width: 85%;
        }

        .recommendation {
            display: block;
            padding: 1px;
            margin-top: 2rem;
            margin-left: 2rem;

            .recommendation-image {
                padding: 0;
                width: 180px;
                margin-right: 5rem;
            }

            .btn-dark, .btn-light {
                width: 60%;
                margin-left: 2.5rem;
            }
        }
    }

    ul.menu-nav {
        float: none;
        width: 100%;
        min-height: 0;


        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 100vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }
}

// Smartphones
@include mediaSm {
    header {
        .lg-heading {
            font-size: 3rem;
        }
    }

    main {
        padding: 1rem;

        .icons {
            margin-left: 2rem;
        }
    }

    .container {
        border: 1px;

        .sm-heading {
            margin-top: 4rem;
            display: block;
            margin-left: 0;
            width: 85%;
        }

        .recommendation {
            display: block;
            padding: 1px;
            margin-top: 2rem;
            margin-left: 2rem;

            .recommendation-image {
                padding: 0;
                width: 180px;
                margin-right: 5rem;
            }

            .btn-dark, .btn-light {
                width: 60%;
                margin-left: 2.5rem;
            }
        }

        // Change .btn width
    }
}