@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: $third-color;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  background-color: lighten(rgb(0, 0, 0), 2.5);
  position: fixed;
  z-index: 2;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  
  &.lg-heading {
    margin-left: 5%;
    top: 0%;
    font-size: 4rem;
  }
}

// Button styles
.btn {
  width: 300px;
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 25px;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: #333;
  }
}

// Container includes middle items: Introduction text and recommended series.
.container {
  display: table;
  table-layout: fixed;
  margin-top: 3rem;

  // Introduction text
  .sm-heading {
    width: 50%;
    border-radius: 25px;
    color: $fourth-color;
    padding: 0.5rem 1rem;
    background: rgba(lighten($primary-color, 10), 0.5);
    display: table-cell;
    vertical-align: middle;
  }

  // Recommended series
  .recommendation {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20rem;

    a {
      font-size: 1rem;
      height: 2.5rem;
    }

    .recommendation-title {
      color: $fourth-color;
      margin: 1rem;
      margin-right: 14rem;
    }

    img {
      border-radius: 25px;
      width: 300px;
      border: 3px #fff solid;
    }

    .btn-dark {
      @extend .btn;
      background: #444;
      color: #fff;
    }

    .btn-light {
      @extend .btn;
      background: lighten(#333, 50);
      color: #333;
    }
  }
}

// Links to stream services
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;

  div {
    border-radius: 25px;
    background-color: #444;
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut();

    img {
      width: 120px;
    }

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $fourth-color;
    }
  }
}

// Series page first header
.trending-header {
  color: $third-color;
  margin-top: 3rem;
  font-size: 2rem;
}

// Trending series grid
.trending {
  background: rgba(rgb(44, 44, 44), $background-opacity);
  border-radius: 25px;
  padding: 1rem;
  margin-top: 2rem;
  justify-items: center;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  'img img img';

  .img {
    width: 300px;
    border: #fff solid 3px;
    border-radius: 25px;
    grid-area: img;
    margin: auto;
    object-fit: cover;
  }
  
  .btn-dark {
    @extend .btn;
    background: darken(#444, 50);
    color: #fff;
  }

  .btn-light {
    @extend .btn;
    background: lighten(#333, 50);
    color: #333;
  }
}

// Series page second header
.classics-header {
  color: $third-color;
  margin-top: 3rem;
  font-size: 2rem;
}

// Series page classics grid
.classics {
  background: rgba(rgb(44, 44, 44), $background-opacity);
  border-radius: 25px;
  padding: 1rem;
  margin-top: 2rem;
  justify-items: center;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  'img img img';

  .img {
    width: 300px;
    border: #fff solid 3px;
    border-radius: 25px;
    grid-area: img;
    margin: auto;
    object-fit: cover;
  }
  
  .btn-dark {
    @extend .btn;
    background: darken(#444, 50);
    color: #fff;
  }

  .btn-light {
    @extend .btn;
    background: lighten(#333, 50);
    color: #333;
  }
}

// Copyright footer
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($fourth-color, 85);
  color: $third-color;
  height: 60px;
}

@import 'mobile';